_build/
_doc/
_migrator/
src/script/*.exe
hitscoredoc.docdir
setup.data
setup.log
/hitscore_db_digraph.pdf
/hitscore_layout_digraph.pdf
/db_access.native
/src/lib/hitscore_conf_values.ml
/hitscore_main.native
/hitscoregen.native
